body {
    background: #e0e0e0 url("../img/background.jpg") no-repeat scroll center -2px;
    font:12px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
#container { margin:0 auto; position:relative; width:980px; height: 980px}
#container > #headerContainer {  height:135px; padding:0; position: relative; }
#container > #headerContainer > .owner{
    color: dimgray;
    font-size: 20px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    left:105px;
    position: absolute;
    top:100px;
}
#container > #headerContainer > .title{
    color: #d1042a;
    font-size: 20px;
    font-family: "Tahoma";
    font-weight: bold;
    font-style: italic;
    left:105px;
    position: absolute;
    top:130px;
}
#container > #headerContainer > .owner:hover{
    font-style: italic;
}
#container > #headerContainer > .logo { background:url('../img/headerLogo.png') no-repeat center; height:90px; left:5px; position:absolute; top:80px; width:90px;}

#container > #mainContainer{
    width: 800px;
    height: 300px;
    padding: 20px;
    background-color: #265a88;
    margin:auto;
    visibility: visible;
    position: relative;
}
#container > #mainContainerStep2{
    width: 800px;
    height: 300px;
    padding: 20px;
    background-color: bisque;
    margin:auto;
    visibility: hidden;
    margin-top: -300px;
}
#container > #mainContainerStep3{
    width: 800px;
    height: 300px;
    padding: 20px;
    background-color: bisque;
    margin:auto;
    margin-top: -300px;
    visibility: hidden;
}
#container > #mainContainerStep4{
    width: 800px;
    height: 300px;
    padding: 20px;
    background-color: bisque;
    margin:auto;
    margin-top: -300px;
    visibility: hidden;
}
#container > #mainContainerStep5{
    width: 800px;
    height: 300px;
    padding: 20px;
    background-color: bisque;
    margin:auto;
    margin-top: -300px;
    visibility: hidden;
}
#container > #listContainer{
    background: url('../img/bg.jpg') center top no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#tblAppointments {
    width: 100%;
    max-width: 100%;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-spacing: 0;
    border-collapse: collapse;
}

#tblAppointments th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
}

#tblAppointments tr:nth-child(odd) {
    background-color: #ffffff;
}

#tblAppointments tr:nth-child(even) {
    background-color: #f1f1f1;
}

#tblAppointments td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
#container > #menuContainer { font-size:13px; text-align:center; height: 71px;}
#container > #menuContainer > a { background:#e7e7e7; border:1px solid #e7e7e7; border-bottom:none; color:#555; display:inline-block; margin:35px 0.5px; padding:8px 50px;
    background-image: -webkit-linear-gradient(bottom, #c7c7c7, #f7f7f7);
    background-image: -moz-linear-gradient(bottom, #c7c7c7, #f7f7f7);
    background-image: -ms-linear-gradient(bottom, #c7c7c7, #f7f7f7);
    background-image: -o-linear-gradient(bottom, #c7c7c7, #f7f7f7);
    background-image: linear-gradient(bottom, #c7c7c7, #f7f7f7);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#c7c7c7', endColorStr='#f7f7f7', GradientType=0); /*IE7-*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#c7c7c7', endColorStr='#f7f7f7', GradientType=0)"; /*IE8+*/
}
#container > #menuContainer > a:hover { background:#e1e1e1; border-color:#e1e1e1; color:#333; text-decoration:none;
    background-image: -webkit-linear-gradient(bottom, #d7d7d7, #f7f7f7);
    background-image: -moz-linear-gradient(bottom, #d7d7d7, #f7f7f7);
    background-image: -ms-linear-gradient(bottom, #d7d7d7, #f7f7f7);
    background-image: -o-linear-gradient(bottom, #d7d7d7, #f7f7f7);
    background-image: linear-gradient(bottom, #d7d7d7, #f7f7f7);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#d7d7d7', endColorStr='#f7f7f7', GradientType=0); /*IE7-*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#d7d7d7', endColorStr='#f7f7f7', GradientType=0)"; /*IE8+*/
}
#container > #menuContainer > a.selectedLink { background:#fff; border-left-color:#e1e1e1; border-right-color:#e1e1e1; border-top:2px solid #d10429; color:#d10429; }
#container > #progressDiv {
    margin-top: -150px;
    margin: auto;
    position: relative;
}
#dropdown{
    margin-left: 35%;
}
.button {
    display: inline-block;
    border-radius: 8px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 90px;
    transition: all 0.1s;
    cursor: pointer;
    margin: 5px;
    margin-left: 40%;
    margin-bottom: 20px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.timeButton {
    display: inline-block;
    padding: 10px 10px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #88a2af;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.timeButton:hover {background-color: #3e8e41}

.timeButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.timeButton:target{
    background-color: yellow;
}
#generalBranchList{
    margin-left: 35%;
}
